# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore database files
db.sqlite3

# Ignore development server files
*.log
*.pot
*.pyc

# Ignore media files (if you're using a different media storage)
/media/

# Ignore secret settings file
secrets.json

# Ignore environment-specific settings
.env

# Ignore IDE and code editor settings (customize as needed)
.vscode/
.idea/
*.suo
*.ntvs*

# Ignore dependency management files (customize as needed)
venv/
node_modules/

src/wizerproperties/media/
static_root/

# Deployment
nginx/
certbot/